<center><h1>About</h1></center>
<body>TelePheonix is a cellphone review aggregator that takes professional and user reviews from multiple websites and aggregates them to allow a prospective buyer to determine what the average opinion on a given phone is. We will also provide links to merchant websites that sell the phone to provide the user with an idea of how much the phone will cost and if there is a sale anywhere.
		<b><p>Key Features:</p></b>
		<p>Reviews will be aggregated for each model of phone. Professional and user reviews will be aggregated separately.</p>
    <p>Users will be able to write their own review after making an account.</p>
    <p>Users will be able to comment on, tag, and like or dislike reviews.
    Users will be able to flag inappropriate comments and reviews, and moderators will then be able to review and remove the content.</p>
    <p>Users will be able to find reviews made by other specific users, and by specific websites and find averages of those figures.</p>
    <p>Users will be able to search for phones by tags, like Android, iOS, touch screen, and the like.</p>
    <p>
    Links will be provided for users to merchant sites that sell each phone.</p>
<center><table border="1">
    <tr>
    	<td>Programming Language: Ruby</td>
    	<td>Web Framework: Rails</td>
  	 	<td>Database: Postgres</td>
    	<td>Version Control: Git</td>
</tr></center>
<!-- <tr>
       <td>Stakeholders:</td>
       <td> Guest: Can view data, like, dislike, and flag comments/reviews.</td>
       <td> Registered User: Can do all that guest users can, as well as add comments and write reviews.</td>
    	<td> Moderator: Can remove content including flagged reviews/comments and bad users.</td>
    </tr>
    <tr>
    	<td>Live Data: Review scores from multiple websites including CNET, Gizmodo, etc.</td>
    	<td>User Communication: Users can comment on user reviews.</td>
   		<td>Tagging and Search: Phones and reviews will both feature tagging. Phones can be searched for.</td>
   	</tr> -->
</body>