%h2 Search Results

%table#phones
  %thead
    %tr
      %th Brand
      %th Name
      %th Rating
    %tbody
      - @phones.each do |phone|
        %tr
          %td= phone.brand
          %td= link_to "#{phone.name}", phone_path(phone)
          %td
            %h3= Random.rand(100).to_s+"%"