= "Hi, #{@reviewer.username}"
%section
  %p= "#{@commenter.username} just commented on one of your reviews, you can see the details following the link below"
  %p http://telephoenix.herokuapp.com
%br
Group of telephoneix
