%h2 Comments

%table#comment
  %thead
    %tr
      %th User
      %th Review
      %th Text
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.user
        %td= comment.review
        %td= comment.comment_texts
        /%td
        /=form_tag (@comment.like, :controller => "likes", :action => "update")do
         / =hidden_field :id, comment.like.id
          /=submit_tag "Like"

