%h2 New Comment

= form_tag (phone_review_comments_path  :method => :post) do
  = label :comment, :comment_text, 'Comment'
  = text_area :comment, :comment_text, :cols => 80, :rows => 20
  = submit_tag 'Save'