/** Main Stylesheet for TelePhoenix. */

html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin:0px;
  padding:0px;
  min-width:850px;
}

div#headbar img {
  float:left;
}

div#headbar {
  width:100%;
  height:30px;
  line-height:30px;
  background-image: url('headbar.png');
}
div#navbar {
  width: 100%
  height:57px;
  line-height:42px;
  background-image: url('navbar.png');
}

div#navbar a {
  display: block;
  float: left;
  text-decoration: none;
  color:white;
  font-size:110%;
  margin-right:20px;
  margin-left:20px;
}

div#navbar a:hover {
color:orange;
}

div#navClear {
  clear:both;
  height:15px;
}

div#navbar form { 
  float: right;
  clear: right;
  margin-right:20px;
}

div#currentuser {
  float:right;
  margin-right:20px;
  color:white;
}

div#currentuser a {
color: white;
}


label {
float:left;
clear:left;
width:160px;
}
input, select {
float:left;
}

div#navbar input {
float:none;
}
form a {
float:left;
margin-left:20px;
}
input[type=submit] {
clear:both;
}

