.best_in_place input, select{
float: none;
}
.profile{
padding-left:20px;
padding-top: 0px;
}
.interests{
word-wrap:  break-word;
word-break: break-all;
over-flow: hidden;
width : 320px;

}
.web_page input{

width: 350px;
}
