.profile input, select{
float: none;
}
.profile{
padding-left:20px;
padding-top: 0px;
}
.interests{
word-wrap:  break-word;
word-break: break-all;
over-flow: hidden;
width : 320px;

}
.web_page input{

width: 350px;
}
/*
.photo{
height: 50;
width: 50;
}
*/
.image_input{
width : 600px;

}
