!!! 5
%html
  %head
    %title TelePhoenix
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %img{ :src=>'assets/tplogo.png'}
    = yield


